#cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartProductCard {
  display: flex;
  align-items: center;
  margin: 0 1rem 0 1rem;
  width: 72vw;
  border-bottom: 1px solid rgb(212, 212, 212);
  border-top: none;
}
.cartItem {
  display: flex;
  width: 70%;
}
.cartProductCard img {
  width: 8rem;
  border: 1px solid gainsboro;
  border-radius: 10px;
  align-self: center;
  margin: 0.4rem 0 0.4rem;
}
.titleDiv {
  align-self: center;

  font-weight: 400;
  width: 60%;
}
.titleDiv h3 {
  font-family: "PT Sans";
  font-weight: 300;
  margin-left: 1rem;
}
.titleDiv p {
  font-weight: 400;
  color: rgb(39, 175, 39);
  margin-left: 1rem;
}
.productCardContainer input {
  width: 1.5rem;
  margin: 0;
}

.productCardContainer input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

#totalAndCheckout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: auto;
  margin-top: 1rem;
  padding: 1rem;

  border-radius: 10px;
  box-shadow: 1px 1px 4px -1px rgb(173, 173, 173);
}
#totalAndCheckout button {
  background-color: rgb(11, 11, 22);
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  font-family: "Source Sans Pro";
  font-size: 1.3rem;
  color: white;
  transition: transform 0.1s ease-out;
  grid-area: 3 / 1 / 4 / 3;
}
#totalAndCheckout button:hover {
  transform: translateY(3px);
  box-shadow: 2px 2px 10px grey;
}
#totalAndCheckout h4 {
  margin-top: 0;
  margin-bottom: 0;
}
#totalAndCheckout h4:nth-of-type(even) {
  margin-left: auto;
}
.quantity {
  margin-left: auto;
  margin-right: 2.8rem;
  flex-wrap: nowrap;
}
.productCardContainer .price {
  margin: 0;
  margin-left: auto;
  margin-right: 1rem;
}
.cartDeleteIcon {
  margin-right: 1rem;
}
.tables {
  display: flex;
  justify-content: space-between;
  width: 72vw;
  margin: 1rem;
}
.tables p:first-child {
  width: 70%;
}
.tables p:nth-child(2) {
  margin-left: auto;
}
.tables p:nth-child(3) {
  margin-left: auto;
  margin-right: 1rem;
}
@media only screen and (max-width: 800px) {
  .cartProductCard,
  .tables {
    width: 90vw;
  }
  .cartProductCard img {
    width: 6rem;
  }
  .cartItem {
    width: 60%;
  }
  .cartItem h3 {
    font-size: 0.9rem;
  }
  .tables p:first-child {
    width: 60%;
  }
  .tables p {
    font-size: 0.8rem;
  }
  .quantity input {
    width: 1rem;
  }
}
