div.landingMain{
    background-color: rgb(241, 241, 241);
    height: 82%;

}
div.newsDiv{
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.news{
    width: 30%;
}
div.newsDiv h2{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;

}
div.newsDiv p:first-of-type{
    font-weight: 300;
    color: rgb(202, 0, 0);
    margin: 0;
    padding: 0;
    padding-right: 50%;
}
div.newsDiv p:last-of-type{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: rgb(26, 26, 26);
    padding-right: 30%;
}

.promoDiv{
    display: flex;
    z-index: -10;
}
.promoDiv img{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.learnMoreDiv{
    width: 90%;
    position: absolute;
    left: 2rem;
    padding: 0rem 1rem 0rem 1rem
}
.learnMoreDiv h4{
    font-size: 5rem;
    font-weight: 300;
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    margin: 0;
}
.learnMoreDiv button{
    background-color: #ff0100;
    color:whitesmoke;
    font-family: 'PT Sans';
    text-transform: uppercase;
    width: 8rem;
    height: 3rem;
    box-shadow: 2px 2px  10px -2px rgb(48, 48, 48);
    border-radius: 2px;
    font-size: 1rem;

    transition: transform 0.4s;
}
.learnMoreDiv button:hover{
    transform: translateY(3px);
    box-shadow: 2px 2px  10px rgb(29, 29, 29);
    
}

@media only screen and (min-width: 1200px) {
    .promoDiv img{
        width: 60vw;
    }
    
  }
  @media only screen and (max-width: 1000px) {
    .learnMoreDiv h4{
    font-size: 4rem;
    }
   
  }
  